[user]
    name = Hinrik Örn Sigurðsson
    email = hinrik.sig@gmail.com

[color]
    ui = auto
[github]
    login = hinrik
    user = hinrik
[alias]
    br = branch -a -v
    st = status
    ci = commit
    co = checkout
    di = diff -p --stat --color-words
    dis = diff -p --stat --color-words --staged
    pu = pull --stat
    up = pull --stat --rebase # like svn does
    lo = log --decorate --abbrev-commit --stat
    slog = log --graph --decorate --abbrev-commit --pretty=oneline
    staged = diff --cached
    tree = log --graph --pretty=oneline --abbrev-commit --decorate
[push]
    default = tracking
[sendemail]
    smtpserver = smtp.gmail.com
    smtpssl = 1
    smtpuser = hinrik.sig@gmail.com
    from = Hinrik Örn Sigurðsson <hinrik.sig@gmail.com>
