[submodule ".emacs.d/elisp/color-theme-tangotango"]
	path = .emacs.d/elisp/color-theme-tangotango
	url = http://github.com/juba/color-theme-tangotango.git
[submodule ".emacs.d/elisp/xterm-frobs"]
	path = .emacs.d/elisp/xterm-frobs
	url = https://github.com/emacsmirror/xterm-frobs
[submodule ".emacs.d/elisp/xterm-title"]
	path = .emacs.d/elisp/xterm-title
	url = https://github.com/emacsmirror/xterm-title
[submodule ".emacs.d/elisp/misc-cmds"]
	path = .emacs.d/elisp/misc-cmds
	url = https://github.com/emacsmirror/misc-cmds
[submodule ".emacs.d/elisp/centered-cursor-mode"]
	path = .emacs.d/elisp/centered-cursor-mode
	url = https://github.com/emacsmirror/centered-cursor-mode
[submodule ".emacs.d/elisp/slime"]
	path = .emacs.d/elisp/slime
	url = https://github.com/nablaone/slime.git
