[submodule ".emacs.d/elisp/color-theme-tangotango"]
	path = .emacs.d/elisp/color-theme-tangotango
	url = http://github.com/juba/color-theme-tangotango.git
[submodule ".vim/bundle/lilyvim"]
	path = .vim/bundle/lilyvim
	url = https://github.com/lfairy/lilyvim.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule ".vim/bundle/perl_synwrite.vim"]
	path = .vim/bundle/perl_synwrite.vim
	url = https://github.com/vim-scripts/perl_synwrite.vim.git
[submodule ".vim/bundle/tmux.vim"]
	path = .vim/bundle/tmux.vim
	url = https://github.com/zaiste/tmux.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule ".vim/bundle/color-scheme-literal-tango"]
	path = .vim/bundle/color-scheme-literal-tango
	url = https://github.com/hinrik/color-scheme-literal-tango.git
[submodule ".emacs.d/elisp/xterm-frobs"]
	path = .emacs.d/elisp/xterm-frobs
	url = https://github.com/emacsmirror/xterm-frobs
[submodule ".emacs.d/elisp/xterm-title"]
	path = .emacs.d/elisp/xterm-title
	url = https://github.com/emacsmirror/xterm-title
[submodule ".emacs.d/elisp/misc-cmds"]
	path = .emacs.d/elisp/misc-cmds
	url = https://github.com/emacsmirror/misc-cmds
[submodule ".emacs.d/elisp/centered-cursor-mode"]
	path = .emacs.d/elisp/centered-cursor-mode
	url = https://github.com/emacsmirror/centered-cursor-mode
[submodule ".emacs.d/elisp/slime"]
	path = .emacs.d/elisp/slime
	url = https://github.com/nablaone/slime.git
